.navList {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: orange;
    flex-direction: row;
    display: flex;
    justify-content: center;
    background-color: green;
  }

.navItem {
    color: white;
    font-size: 25px;
    margin: 10px;
}